@import "~antd/dist/antd.css";

.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

.logoText {
  color: white;
  font-size: xx-large;
  padding: 30px;
  margin-top: 10%;
}

.landingBody {
  display: flex;
  min-height: calc(100vh - 200px) !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingText {
  font-size: 56px;
  color: white;
}

.button {
  border-radius: 20px !important;
  font-size: 15px;
  padding: 10px 45px;
  background-color: #5cdb95 !important;
  border: none !important;
  line-height: 0px;
}
