@import "~antd/dist/antd.css";

.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

.logoText {
  color: white;
  font-size: xx-large;
  padding: 30px;
  margin-top: 10%;
}

.landingBody {
  display: flex;
  min-height: calc(100vh - 200px) !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingText {
  font-size: 56px;
  color: white;
}

.button {
  border-radius: 20px !important;
  font-size: 15px;
  padding: 18px 45px;
  font-weight: 700;
  background-color: #5cdb95 !important;
  border: none !important;
  line-height: 0px;
  text-align: center;
}

#editProfileButton {
  background: linear-gradient(
    180deg,
    rgba(243, 119, 131, 1) 0%,
    rgba(248, 189, 153, 1) 79%,
    rgba(250, 210, 166, 1) 100%
  );
  color: white;
  margin-top: 50px;
}

.ant-checkbox-inner::after {
  width: 13.714286px;
  height: 23.142857px;
}

.ant-checkbox .ant-checkbox-inner {
  margin-top: 10px;
  width: 35px;
  height: 35px;
}

.buttonDanger {
  border-radius: 20px !important;
  font-size: 15px;
  padding: 18px 45px;
  font-weight: 700;
  border: none !important;
  line-height: 0px;
  text-align: center;
}

.signInBody {
  background: rgba(255, 255, 255, 0.34);
  width: 40%;
  height: 40vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form > * {
  margin: 0 auto;
}

.registerBody {
  background: rgba(255, 255, 255, 0.34);
  width: 60%;
  padding: 50px;
  height: 65vh;
  border-radius: 30px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.input {
  border-radius: 20px;
  width: 100%;
}

.createPartyContainer {
  background: white;
  width: 60%;
  padding: 50px;
  height: 65vh;
  border-radius: 30px;
  margin: 45px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle1 {
  position: fixed;
  width: 575px;
  height: 575px;
  left: 117px;
  top: 24px;

  background: linear-gradient(
    180deg,
    #f7bf58 -44.58%,
    rgba(243, 119, 131, 0) 151.31%
  );
  border-radius: 50%;
}

.circle2 {
  position: fixed;
  width: 368px;
  height: 368px;
  left: 508px;
  top: 292px;

  background: linear-gradient(
    180deg,
    #f7bf58 -44.58%,
    rgba(243, 119, 131, 0) 151.31%
  );
  border-radius: 50%;
}

.circle3 {
  position: fixed;
  width: 409px;
  height: 409px;
  left: 1197px;
  top: 507px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #f7bf58 -31.11%,
    rgba(243, 119, 131, 0) 104.48%
  );
}

.circle4 {
  position: fixed;
  width: 368px;
  height: 368px;
  left: 1022px;
  top: 400px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #f7bf58 -31.11%,
    rgba(243, 119, 131, 0) 104.48%
  );
}

hr {
  background-color: linear-gradient(
    180deg,
    rgba(243, 119, 131, 1) 0%,
    rgba(248, 189, 153, 1) 79%,
    rgba(250, 210, 166, 1) 100%
  );
}
@media (max-width: 900px) {
  .signInBody {
    width: 80%;
  }
  .registerBody {
    width: 90%;
  }
  .createPartyContainer {
    width: 90%;
  }
}
