@import "~antd/dist/antd.css";

.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

.logoText {
  color: white;
  font-size: xx-large;
  padding: 30px;
  margin-top: 10%;
}

.landingBody {
  display: flex;
  min-height: calc(100vh - 200px) !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingText {
  font-size: 56px;
  color: white;
}

.button {
  border-radius: 20px !important;
  font-size: 15px;
  padding: 18px 45px;
  font-weight: 700;
  background-color: #5cdb95 !important;
  border: none !important;
  line-height: 0px;
  text-align: center;
}

.buttonDanger {
  border-radius: 20px !important;
  font-size: 15px;
  padding: 18px 45px;
  font-weight: 700;
  border: none !important;
  line-height: 0px;
  text-align: center;
}

.signInBody {
  background: rgba(255, 255, 255, 0.2);
  width: 40%;
  height: 40vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form > * {
  margin: 0 auto;
}

.registerBody {
  background: rgba(255, 255, 255, 0.2);
  width: 60%;
  padding: 50px;
  height: 65vh;
  border-radius: 30px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.input {
  border-radius: 20px;
  width: 100%;
}

.createPartyContainer {
  background: white;
  width: 60%;
  padding: 50px;
  height: 65vh;
  border-radius: 30px;
  margin: 45px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .signInBody {
    width: 80%;
  }
  .registerBody {
    width: 90%;
  }
  .createPartyContainer {
    width: 90%;
  }
}
