.inviteesTab {
    background: rgba(196, 196, 196, 0.14);
    border-radius: 35px;
    padding: 25px;
}

.invitee:first-child {
    margin-top: 0;
}

.invitee {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    margin-top: 25px;
    padding: 5px;
    position: relative;
}

.inviteeStatus {
    border-radius: 50px;
    color: #FFFFFF;
    width: 85px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-25%, -50%);
}

.inviteePicture {
    height: 40px;
    padding-right: 15px;
}