.inviteesTab {
    background: rgba(196, 196, 196, 0.14);
    border-radius: 35px;
    padding: 15px;
}

.userName {
    font-weight: bold;
}

.commentTab {
    background: white;
    padding: 25px;
    border-radius: 35px;
}

.commentContainer {
    padding: 5px;
    margin-top: 25px;
    border-radius: 20px;
    border: 1px solid rgb(218, 217, 217);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 9px;
}

.commentContainer:first-child {
    margin-top: 0px;
}

.commentInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment {
    word-break: break-all;
}

.invitee:first-child {
    margin-top: 0;
}

.invitee {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    margin-top: 15px;
    padding: 5px;
    position: relative;
}

.inviteeStatus {
    border-radius: 20px;
    color: #FFFFFF;
    width: 85px;
    text-align: center;
}

.userPicture {
    height: 40px;
    padding-right: 15px;
}

.buttonInviteMore {
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
}

.rightAndCenter {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-25%, -50%);
}