.listContainer {
    background: rgba(196, 196, 196, 0.14);
    border-radius: 35px;
    padding: 15px;
}

.userName {
    font-weight: bold;
}

.tabContent {
    padding: 25px;
}

.commentContainer:first-child {
    margin-top: 0px;
}

.commentInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment {
    word-break: break-all;
}

.listItem:first-child {
    margin-top: 0;
}

.listItem {
    padding: 5px;
    margin-top: 25px;
    border-radius: 20px;
    border: 1px solid #f4f4f4;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 7px;
}

.inviteeStatus {
    font-weight: bold;
}

.inviteeInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userPicture {
    height: 40px;
    padding-right: 15px;
}

.buttonInviteMore {
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
}

.attendanceCantGo {
    color: #F37783;
}

.attendanceMaybe {
    color: #F7BF58;
}

.attendanceGoing {
    color: #5cdb95;
}

.attendanceNotSelected {
    color: #AFAFAF;
}

.attendanceContainerCantGo {
    border-width: 1px 7px 1px 1px !important;
    border-top-color: #FFFFFF !important;
    border-right-color: #F37783 !important;
    border-bottom-color: #FFFFFF !important;
    border-left: #FFFFFF !important;
}
.attendanceContainerMaybe {
    border-width: 1px 7px 1px 1px !important;
    border-top-color: #FFFFFF !important;
    border-right-color: #F7BF58 !important;
    border-bottom-color: #FFFFFF !important;
    border-left: #FFFFFF !important;
}
.attendanceContainerGoing {
    border-width: 1px 7px 1px 1px !important;
    border-top-color: #FFFFFF !important;
    border-right-color: #5cdb95 !important;
    border-bottom-color: #FFFFFF !important;
    border-left: #FFFFFF !important;
}
.attendanceContainerNotSelected {
    border-width: 1px 7px 1px 1px !important;
    border-top-color: #FFFFFF !important;
    border-right-color: #AFAFAF !important;
    border-bottom-color: #FFFFFF !important;
    border-left: #FFFFFF !important;
}